a{
    text-decoration: none;
}
#content-sidebar
{
  display: block;
  width: 22%;
  float: left;
   aside{
    margin-bottom: 5px;
    border: 1px solid #89B8D9;
   }
   h1{
        font-size: 21px;
        background-color: #1E557C;
        color: white;
        text-transform: uppercase;
        padding: 8px 8px 8px 7px;
        text-align: CENTER;
    }
    ul li{
        list-style: none;
        display: block;
        height : 40px;
        border-bottom: 1px dashed #1e557c;
        a{
            text-decoration: none;
            text-transform: uppercase;
            color : #1E557C;
            text-align: center;
            display: table-cell;
            height: 40px;
            width: 245px;
            vertical-align: middle;
        }
    }
}




